html, body {
    margin: 0;
    padding: 1px;
    position: relative;
}

#wrapper {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

#wrapper.red {
    background-color: #fee;
}

#wrapper.green {
    background-color: #efe;
}
